<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title> Gowee Dox |  User:<%= controller.action_name %> </title>
  	<style type="text/css">
	a { text-decoration:none; color: #FFFFFF; }
	</style>
  <%= stylesheet_link_tag 'scaffold', 'gowee' %>
</head>

<body id="store">
	<div id="banner">
		<!--%= image_tag("logo.png") %-->
		<h1 style="font-family: Helvetica;"> &nbsp; Gowee Dox</h1>
	</div>
	<div id="columns">
		<div id="side">
			
			
			
			<% if session[:user_id] %>
				<%= link_to 'Home', :controller => 'limited', :action => 'index' %><br />
			<% else %>
				<%= link_to 'Home', :controller => 'welcome', :action => 'index' %><br />
			<% end %>
			<a href="http://www.Google.com">Questions</a><br />
			<a href="http://www.news.yahoo.com">News</a><br />
			<a href="http://www.friendster.com">Contact</a><br /><br />
			
			<% if session[:user_id] %>
			<%= link_to 'Logout', :controller => 'limited', :action => 'logout' %><br/>
			<% end %>
			
		</div>
		<div id="main">
			<% if flash[:notice] %>
      			<p style="color:green"><%= flash[:notice] %></p>
   			<% end %>
			<%= yield :layout %>
		</div>
	</div>
	<div id="extlinks"> 
		Powered by <a href="http://www.codrschool.com/internship-program/2010-interns"> CodrSchool</a>&nbsp;&nbsp;
		| &nbsp;&nbsp;&copy;  Copyright 2010 	
	</div>
</body>

</html>
